mixin videoBlock(video={})
  .videoBlock
    a.videoBlock__link(href=routes.videoDetail(video.id))
      video.videoBlock__thumbnail(src=`/${video.videoFile}`,controls )
      h4.videoBlock__title=video.title
      if video.views <= 1
        h6.videoBlock__views #{video.views} view
      else
        h6.videoBlock__views #{video.views} views
        
